@import "../../styles/global";

.container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
    width: 100%;
    max-width: 425px;
    row-gap: 1rem;
    
    label {
        @include text;
    }

    select {
        height: 50px;
        background: #fff;
    }

    select[disabled] {
        background-color: #bebe;
    }
}
